<a href="https://colab.research.google.com/github/JavZon/Data-processing-and-preparation/blob/main/datetime_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np


#kaggle datasets download -d alexandrepetit881234/korean-demographics-20002022

In [2]:
link='/content/Korean_demographics_2000-2022.csv'
df=pd.read_csv(link)
df.sample(10)

,Date,Region,Birth,Birth_rate,Death,Death_rate,Divorce,Divorce_rate,Marriage,Marriage_rate,Natural_growth,Natural_growth_rate
1791,4/1/2008,Gyeongsangnam-do,2660.0,10.14,1563.0,6.0,633.0,2.4,1544.0,5.9,1097.0,4.2
272,4/1/2001,Chungcheongnam-do,1861.0,11.78,1200.0,7.6,363.0,2.3,1049.0,6.6,661.0,4.2
3729,4/1/2017,Daegu,1348.0,6.66,1170.0,5.8,330.0,1.6,777.0,3.8,178.0,0.9
4826,5/1/2022,Chungcheongnam-do,789.0,4.40,1471.0,8.2,387.0,2.2,764.0,4.3,-682.0,-3.8
3563,6/1/2016,Whole country,32849.0,7.84,21350.0,5.1,9215.0,2.2,24285.0,5.8,11499.0,2.7
4088,12/1/2018,Chungcheongnam-do,969.0,5.40,1383.0,7.7,396.0,2.2,1123.0,6.3,-414.0,-2.3
617,11/1/2002,Gangwon-do,1091.0,8.63,953.0,7.5,386.0,3.1,741.0,5.9,138.0,1.1
3193,10/1/2014,Gyeonggi-do,9458.0,9.10,4299.0,4.1,2506.0,2.4,6559.0,6.3,5159.0,5.0
3626,10/1/2016,Gyeongsangbuk-do,1677.0,7.38,1731.0,7.6,450.0,2.0,1047.0,4.6,-54.0,-0.2
4557,2/1/2021,Daegu,857.0,4.70,1032.0,5.6,350.0,1.9,603.0,3.3,-175.0,-1.0

In [7]:
df[df['Birth'].isnull()].index

Int64Index([  14,   32,   50,   68,   86,  104,  122,  140,  158,  176,
            ...
            2426, 2444, 2462, 2480, 2498, 2516, 2534, 2552, 2570, 2588],
           dtype='int64', length=144)

In [ ]:
df.sample(3)

,Date,Region,Birth,Birth_rate,Death,Death_rate,Divorce,Divorce_rate,Marriage,Marriage_rate,Natural_growth,Natural_growth_rate
1511,12/1/2006,Whole country,34835.0,8.37,21654.0,5.2,9631.0,2.3,46099.0,11.1,13181.0,3.2
327,7/1/2001,Daegu,2151.0,10.01,913.0,4.2,548.0,2.6,953.0,4.4,1238.0,5.8
4001,7/1/2018,Gangwon-do,692.0,5.30,961.0,7.4,302.0,2.3,531.0,4.1,-269.0,-2.1

In [ ]:
type(df.loc[1511,'Date'])

str

In [8]:
df.loc[14]

Date                   1/1/2000
Region                   Sejong
Birth                       NaN
Birth_rate                  NaN
Death                       NaN
Death_rate                  NaN
Divorce                     NaN
Divorce_rate                NaN
Marriage                    NaN
Marriage_rate               NaN
Natural_growth              NaN
Natural_growth_rate         NaN
Name: 14, dtype: object

In [16]:
import datetime as dt

In [22]:
date1=dt.date(2024, 3, 20)
print(date1)

2024-03-20

In [24]:
print("Year:" ,date1.year)
print("Month:" ,date1.month)
print("Day:" ,date1.day)

Year: 2024
Month: 3
Day: 20

In [27]:
print(date1.today())

2024-03-20

In [28]:
# dt.date classi
date1=dt.date(2025, 8, 16)
print(date1)

2025-08-16

In [29]:
date1.year

2025

In [30]:
date1.month

8

In [31]:
date1.day

16

In [32]:
date1.weekday()

5

In [34]:
print(date1.today())

2024-03-20

In [37]:
print(dt.datetime.today())

2024-03-20 00:59:34.850288

In [38]:
obj=dt.datetime(2024,7,14,21,47,13)
print(obj)

2024-07-14 21:47:13

In [42]:
print(obj.year)
print(obj.month)
print(obj.day)
print(obj.today())
print(obj.weekday())
print(obj.date())
print(obj.hour)
print(obj.time())
print(obj.minute)

2024
7
14
2024-03-20 01:11:00.396704
6
2024-07-14
21
21:47:13
47

In [50]:
bugun=dt.date(2024,3,20)
futbol=dt.date(2024,4,10)
farq=bugun-futbol
print(farq)
print(type(farq))

-21 days, 0:00:00
<class 'datetime.timedelta'>

In [45]:
time_obj=dt.time(21,38,45,16685)
print(time_obj)

21:38:45.016685

In [48]:
print(time_obj.hour)
print(time_obj.minute)
print(time_obj.second)
print(time_obj.microsecond)

21
38
45
16685

In [51]:
obj=dt.datetime(2022,9,15,20,36,52,16544)
print(obj)

2022-09-15 20:36:52.016544

In [56]:
new_obj=obj.strftime("%d-%m-%Y, %A")
print(new_obj)

15-09-2022, Thursday